Repository hmcts/idam-user-profile-bridge, pull requests merged in 2023-09, with the labels that each got.

#25 sanity
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/controllers/UserProfileController.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-25

#26 Get Vault to Mount
  charts/idam-user-profile-bridge/Chart.yaml
  charts/idam-user-profile-bridge/values.yaml
  src/main/resources/logback-includes.xml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-26

#31 other versions
  Dockerfile
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-31

#34 Add tests
  build.gradle
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/controllers/UserProfileController.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/service/UserProfileService.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/controllers/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/listeners/UserEventListenerTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/service/UserEventServiceTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/service/UserProfileServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-34

#37 Add s2s
  build.gradle
  charts/idam-user-profile-bridge/Chart.yaml
  charts/idam-user-profile-bridge/values.preview.template.yaml
  charts/idam-user-profile-bridge/values.yaml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/cft/rd/api/auth/RefDataAuthConfig.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/RpeS2STestingSupportApi.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/auth/RpeS2SRequestInterceptor.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/auth/RpeS2STestingSupportAuthTokenGenerator.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, add-or-update, rel:idam-user-profile-bridge-pr-37

#41 Create events for accepted invitations
  build.gradle
  charts/idam-user-profile-bridge/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/controllers/SpringFunctionalTest.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/jpa/StringListConverter.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/config/SchedulerConfig.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/error/ListenerErrorHandler.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/error/SchedulerErrorHandler.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/listeners/model/EventType.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventListener.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventPublisher.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/model/EventType.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/model/UserEvent.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/repository/InvitationEntityRepository.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/repository/model/InvitationEntity.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/repository/model/InvitationStatus.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/repository/model/InvitationType.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/service/InvitationService.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/service/UserEventService.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/service/UserProfileService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/idam/userprofilebridge/controllers/SpringSmokeTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventListenerTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventPublisherTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/service/InvitationServiceTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/service/UserEventServiceTest.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/service/UserProfileServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-41

#46 fix release name
  charts/idam-user-profile-bridge/Chart.yaml
  charts/idam-user-profile-bridge/values.aat.template.yaml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-46

#44 remove caffeine
  build.gradle
  src/main/resources/application.yaml
Labels: no-changes, ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-44

#45 add serenity
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/HealthApiTest.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/UserApiTest.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/controllers/SpringFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/BridgeSteps.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/HealthSteps.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/UserSteps.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/model/ActivatedUserRequest.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-45

#57 permissions
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/UserApiTest.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/ServiceProviderSteps.java
  src/functionalTest/java/uk/gov/hmcts/idam/userprofilebridge/steps/UserSteps.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/model/ServiceProvider.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/controllers/UserProfileController.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/controllers/UserProfileControllerTest.java
Labels: no-changes, ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-57

#58 Use servicebus for jms
  build.gradle
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventListener.java
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-58
