Repository hmcts/idam-user-profile-bridge, pull requests merged in 2024-04, with the labels that each got.

#240 SIDM-9152 catch publish exceptions
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventPublisher.java
  src/test/java/uk/gov/hmcts/idam/userprofilebridge/messaging/UserEventPublisherTest.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-240

#248 Remove unnecessary CVE suppressions
  config/owasp/suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-248

#249 exclude nulls
  src/main/resources/application.yaml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-249

#254 SIDM-9162 Add autoscaling
  charts/idam-user-profile-bridge/Chart.yaml
  charts/idam-user-profile-bridge/values.yaml
Labels: ns:idam, prd:idam, aat/no-changes, rel:idam-user-profile-bridge-pr-254

#263 SIDM-9193 Set event type for UserEvent
  src/main/java/uk/gov/hmcts/idam/userprofilebridge/config/QueueConfig.java
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-263

#267 Fix serenity
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-267

#268 Use aat servicebus in staging
  charts/idam-user-profile-bridge/values.aat.template.yaml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-268

#269 Use in memory instead
  charts/idam-user-profile-bridge/values.aat.template.yaml
Labels: ns:idam, prd:idam, rel:idam-user-profile-bridge-pr-269
